body {
  margin: 0;
  padding: 2%;
  background: radial-gradient(circle, rgba(67,86,111,1) 0%, rgba(25,31,43,1) 100%);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #5bfcd3;
}

.fadeOut{
     opacity:0;
     width:0;
     height:0;
     transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
     opacity:1;
     width:100px;
     height:100px;
     transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
