body {
  margin: 0;
  padding: 2%;
  background: radial-gradient(circle, rgba(67,86,111,1) 0%, rgba(25,31,43,1) 100%);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #5bfcd3;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
